<div class="mat-elevation-z8 list-wrapper">
    <!--Filters-->
    <div>
        <div class="grid-filters">
            <div class="grid-filter-filter">
                <!--Search-->
                <mat-form-field class="meter-filter mat-form-field-no-padding search-field">
                    <mat-label>{{'Doctor.Controls.Search' | translate}}</mat-label>
                    <input matInput type="search" #searchInput (input)="onSearch(searchInput)" />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div>
        <table mat-table #doctorTable matSort [dataSource]="dataSource">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Doctor.Columns.Id' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Doctor.Columns.FirstName' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Doctor.Columns.LastName' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <!-- Successful Operations Number Column -->
            <ng-container matColumnDef="successfulOperationsNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Doctor.Columns.SuccessfulOperationsNumber' |
                    translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.successfulOperationsNumber}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
</div>