table {
    width: 100%;
}

  
.mat-column-id {
    width: 56px;
    text-align: center;
    font-weight: bold;
  }

.mat-column-firstName {
    width: 256px;
}


.mat-column-lastName {
    width: 256px;
}